minecraft_data/*
!minecraft_data/plugins
minecraft_data/plugins/spark/tmp-client/*
minecraft_data/versions
!minecraft_data/bukkit.yml
!minecraft_data/spigot.yml
!minecraft_data/server.properties.yml
!minecraft_data/server-icon.png
!minecraft_data/bukkit.yml
!minecraft_data/config/*